<div class="container">
    <div class="col-xs-12">
	    <h2>検索結果<%= @number %>件</h2>
	    <%= paginate @products %>
	    <%= render 'products/product_index', products: @products %>
	    <%= paginate @products %>
	</div>
    <%= render 'search/search_form' %>
</div>