
<div class="col-xs-12">
  <h2>パスワードを変更する</h2><hr>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="col-xs-3">
      <%= f.label :password, "新しいパスワード" %>
    </div>
    <div class="col-xs-9 field">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="col-xs-3">
      <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
    </div>
    <div class="col-xs-9 field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>

    <div class="col-xs-3">
  <% if @minimum_password_length %>
    <em>パスワードは<%= @minimum_password_length %>文字以上</em><br />
  <% end %>
    </div>
    <div class="col-xs-9 field">
      <%= f.submit "パスワードを変更する", class: "btn btn-primary field"%>
    </div>
  <% end %>
</div>
