
<div class="col-xs-12">
	<div class="col-xs-12">
		<h2>会員詳細</h2><hr>
		<div class="col-xs-4">
		    <h4>顧客ID</h4>
		</div>
		<div class="col-xs-8">
	    	<h4><%= @end_user.id %>
	        <% if @end_user.delete_status == false %>
	            【有効会員】</h4>
	        <% else %>
	            【退会済み】</h4>
	        <% end %>
		</div>
		<div class="col-xs-4">
	        <h4>氏名</h4>
	    </div>
		<div class="col-xs-8">
	        <h4><%= @end_user.family_name %>　<%= @end_user.first_name %></h4>
	    </div>
		<div class="col-xs-4">
	        <h4>フリガナ</h4>
	    </div>
		<div class="col-xs-8">
	        <h4><%= @end_user.kana_family_name %>　<%= @end_user.kana_first_name %></h4>
	    </div>
		<div class="col-xs-4">
	        <h4>郵便番号</h4>
	    </div>
		<div class="col-xs-8">
	        <h4><%= @end_user.postal_code %></h4>
	    </div>
		<div class="col-xs-4">
	        <h4>住所</h4>
	    </div>
		<div class="col-xs-8">
	        <h4><%= @end_user.address %></h4>
	    </div>
		<div class="col-xs-4">
			<h4>電話番号</h4>
		</div>
		<div class="col-xs-8">
	        <h4><%= @end_user.tel %></h4>
	    </div>
		<div class="col-xs-4">
	        <h4>メールアドレス</h4>
	    </div>
		<div class="col-xs-8">
	        <h4><%= @end_user.email %></h4>
	    </div>
	</div>

	<h2>メニュー</h2><hr>
	<div class="col-xs-12">
		<ul class="nav navbar-nav mymenu">
			<li style="margin-bottom:20px;"><%= link_to "編集", edit_admins_end_user_path(@end_user.id), class:"btn btn-success", data: {"turbolinks" => false}%></li><br>
			<li><%= link_to "注文一覧", admins_end_user_orders_path(@end_user.id, order_sort: 0), class:"btn btn-primary", data: {"turbolinks" => false} %></li>
		</ul>
	</div>
</div>
