
<script type="text/javascript" src="https://js.pay.jp/v1/"></script>

<div class="col-xs-12">
	<h1 class="page-header">注文情報確認</h1>

	<%= form_with(model:[@end_user,@order], local: true) do |f| %>
		<div class="col-xs-12">
			<table class="table table-inverse">
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価(税込)</th>
						<th>数量</th>
						<th>小計(税込)</th>

				</thead>

				<tbody>
					<% @carts.each do |cart| %>
						<tr>
							<td><%= cart.product.name %></td>
							<td>
								<% @price = (cart.product.price_excluding * @TAX).ceil %>
								¥<%= @price.to_s(:delimited) %>
							</td>
							<td><%= cart.quantity %></td>
							<td>¥<%= (@price * cart.quantity).to_s(:delimited) %></td>
						</tr>
					<% end %>
					<%= f.hidden_field :total_quantity , :value => @total_quantity %>
				</tbody>
			</table>
		</div>

		<div class="col-xs-12">
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>送料(税込)</th>
						<td>¥<%= (@charriage).to_s(:delimited) %></td>
						<%= f.hidden_field :charriage , :value => @charriage %>
					</tr>
					<tr>
						<th>商品合計(税込)</th>
						<td>¥<%= @total.to_s(:delimited) %></td>
					</tr>
					<tr>
						<th>請求金額(税込)</th>
						<th>¥<%= (@total + @charriage).to_s(:delimited) %></th>
						<%= f.hidden_field :billing_amount , :value => @total + @charriage %>
					</tr>
				</thead>
			</table>
		</div>

		<div class="col-xs-12">
			<h2 class="page-header">お支払い方法</h2>
			<h3><%= @payment %></h3>
			<%= f.hidden_field :payment_flg , :value => @payment_flg %>
			<%if @payment_flg = "クレジットカード" %>
				<h3><%= @secret %></h3>
				<%= f.hidden_field :card_id, :value => @payment_card %>
			<% else %>
			<% end %>
			<h2 class="page-header">お届け先</h2>
			<h3><%= @postal_code %></h3>
			<%= f.hidden_field :postal_code , :value => @postal_code %>
			<h3><%= @shipping_address %></h3>
			<%= f.hidden_field :shipping_address , :value => @shipping_address %>
			<h3><%= @full_name %>　</h3>
			<%= f.hidden_field :shipping_name , :value => @full_name %>

			<h2><%= f.submit "注文内容確定", class: "btn btn-primary btn-lg" %></h2>
		</div>
	<% end %>
</div>
