


<div class= "col-xs-12">
  <h2>配送先編集</h2><hr>
    <%= form_with model: [@end_user, @address] do |f| %>
      <div class= "col-xs-3">
          <%= f.label :"郵便番号(ハイフンなし):" %>
      </div>
      <div class= "col-xs-9 field">
          <%= f.text_field :postal_code, class: 'form-control', placeholder: "例:1066223" %>
      </div>
      <div class= "col-xs-3">
          <%= f.label :"住所:" %>
      </div>
      <div class= "col-xs-9 field">
          <%= f.text_field :address, class: 'form-control', placeholder: "例:東京都港区六本木３丁目２−１ 住友不動産六本木グランドタワー 23F" %>
      </div>
      <div class= "col-xs-3">
          <%= f.label :"宛名:" %>
      </div>
      <div class= "col-xs-9 field">
          <%= f.text_field :name, class: 'form-control', placeholder: "例:インフラトップ チーム肉" %>
      </div>
      <div class= "col-xs-3">
      </div>
      <div class= "col-xs-9 field">
        <%= f.submit '編集する', class:"btn btn-success" %>
      </div>
      <div class= "col-xs-3">
      </div>
      <div class= "col-xs-9 field">
        <br><%= link_to "戻る", :back, class: "btn btn-primary field" %>
      </div>
    <% end %>
  </div>

