

	    <% if @address.errors.any? %>
	    	<h2><%= pluralize(@address.errors.count, "error") %> prohibited this obj from being saved: </h2>
	    	<% @address.errors.full_messages.each do |message| %>
	        	<li><%= message %></li>
	    	<% end %>
	    <% end %>
	    <% @address.errors.full_messages.each do |message| %>
	      <%= message %>
	    <% end %>

	    <div class="col-xs-12">
	    	<h2 class="page-header text-center">配送先登録/一覧</h2>
	        <%= form_with model: [@end_user, @address] do |f| %>
			    <div class="col-xs-3">
			    	<%= f.label :"郵便番号(ハイフンなし)" %>
			 	</div>
			    <div class="col-xs-9 field">
			    	<%= f.text_field :postal_code , class: 'form-control', placeholder: "例:1066223" %>
			    </div>
			    <div class="col-xs-3">
			    	<%= f.label :"住所" %>
			    </div>
			    <div class="col-xs-9 field">
			    	<%= f.text_field :address, class: 'form-control', placeholder: "例:東京都港区六本木３丁目２−１ 住友不動産六本木グランドタワー 23F"%>
			    </div>
			    <div class="col-xs-3">
			    	<%= f.label :"届け先名" %>
			    </div>
			    <div class="col-xs-9 field">
			    	<%= f.text_field :name, class: 'form-control', placeholder:"例:インフラトップ"%>
			    </div>
			    <div class="col-xs-3">
			    </div>
			    <div class="col-xs-9 field">
			    	<%= f.submit :"新しい住所を登録する",  class:"btn btn-primary" %><br><br><br>
			    </div>
	        <%end %>
	    </div>

		<div class="text-center">
			<div class="col-xs-12">
			    <table class="table table-striped table-inverse">
			    	<thead>
				        <tr>
				          <th class="text-center">郵便番号</th>
				          <th class="text-center">住所</th>
				          <th class="text-center">宛名</th>
				          <th class="text-center"></th>
				        </tr>
				      </thead>
				      <tbody>
				        <% @addresses.each do |address| %>
				          <tr>
				            <td> <%= address.postal_code %></td>
				            <td> <%= address.address %></td>
				            <td> <%= address.name %></td>
				            <td>
				              <%= link_to("編集",edit_end_user_address_path(current_end_user, address), {class: "btn btn-success"}) %>
				              <%= link_to("削除", end_user_address_path(current_end_user, address), method: :delete, class: "btn btn-danger pull-right") %>
				            </td>
				          </tr>
				        <% end %>
				      </tbody>
			    </table>
			</div>
		</div>
