
    <div class= "col-xs-3">
      <h2>マイメニュー</h2>
      <%=link_to("クレジットカード一覧 をみる", end_user_cards_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("配送先一覧 を見る", end_user_addresses_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("注文履歴一覧 を見る", end_user_orders_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("登録情報 編集する", edit_end_user_path(current_end_user.id), {class: "btn btn-success"}) %><br><br>
      <%=link_to("パスワード 変更する", edit_end_user_registration_path(current_end_user.id) ,class: "btn btn-success") %><br><br>
      <%=link_to("退会する", end_user_withdrawal_path(current_end_user.id), class: "btn-sm btn-danger") %><br><br>
    </div>