
<div class="container padding_none">
    <div class="col-xs-12">
        <div class="col-xs-12 padding_none">
            <h2>登録情報編集</h2><hr>
            <%= form_with(model:[@end_user], local: true) do |f| %>
                <div class="col-xs-4 padding_none">
                    <div class="col-xs-6 padding_none">
                        名前
                    </div>
                    <div class="col-xs-6 padding_none">
                        (姓)
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :family_name, class: 'form-control field' %>
                </div>
                <div class="col-xs-4 padding_none">
                    <div class="col-xs-6 padding_none">
                    </div>
                    <div class="col-xs-6 padding_none">
                        (名)
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :first_name, class: 'form-control' %>
                </div>
                <div class="col-xs-4 padding_none">
                    <div class="col-xs-6 padding_none">
                        フリガナ
                    </div>
                    <div class="col-xs-6 padding_none">
                        (セイ)
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :kana_family_name, class: 'form-control' %>
                </div>
                <div class="col-xs-4 padding_none">
                    <div class="col-xs-6 padding_none">
                    </div>
                    <div class="col-xs-6 padding_none">
                        (メイ)
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :kana_first_name, class: 'form-control' %>
                </div>

                <div class="col-xs-4 padding_none">
                    <div class="col-xs-9 padding_none">
                        メールアドレス
                    </div>
                </div>

                <div class="col-xs-8 field">
                    <%= f.text_field  :email, class: 'form-control' %>
                </div>

                <div class="col-xs-4 padding_none">
                    <div class="col-xs-9 padding_none">
                        郵便番号(ハイフンなし)
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :postal_code, class: 'form-control' %>
                </div>

                <div class="col-xs-4 padding_none">
                    <div class="col-xs-9 padding_none">
                        住所
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :address, class: 'form-control' %>
                </div>

                <div class="col-xs-4 padding_none">
                    <div class="col-xs-9 padding_none">
                        電話番号
                    </div>
                </div>
                <div class="col-xs-8 field">
                    <%= f.text_field  :tel, class: 'form-control' %>
                </div>

                <div class="col-xs-4 padding_none">
                </div>
                <div class="col-xs-8 field">
                    <%= f.submit "保存する", {class: "btn btn-primary field"} %><br><br>
                </div>
            <% end %>
        </div>
        <%= render 'side_menu' %>
    </div>
</div>
