
<div class = "col-xs-12">

    <div class= "col-xs-3">
      <h2>サイドメニュー</h2>
      <%=link_to("クレジットカード一覧 をみる", end_user_cards_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("配送先一覧 を見る", end_user_addresses_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("注文履歴一覧 を見る", end_user_orders_path(current_end_user.id), class: "btn btn-primary") %><br><br>
      <%=link_to("登録情報 編集する", edit_end_user_path, {class: "btn btn-success"}) %><br><br>
      <%=link_to("パスワード 変更する", edit_end_user_registration_path ,class: "btn btn-success") %><br><br>
      <%=link_to("退会する", end_user_withdrawal_path(current_end_user.id), class: "btn-sm btn-danger") %><br><br>
    </div>

    <div class= "col-xs-9">
    <h2>マイページ</h2>
      <table class="table">
          <tr>
            <th class="">氏名：</th>
            <td class = "">
              <%= @end_user.family_name %>
              <%= @end_user.first_name %>
            </td>
          </tr>
          <tr>
            <th class="">カナ：</th>
            <td class = "">
            <%= @end_user.kana_family_name %>
            <%= @end_user.kana_first_name %>
            </td>
          </tr>
          <tr>
            <th class="">郵便番号：</th>
            <td class ="">
              <%= @end_user.postal_code %>
            </td class ="">
          </tr>
          <tr>
            <th class="">住所：</th>
            <td class ="">
              <%= @end_user.address %>
            </td>
          </tr>
          <tr>
            <th class="">電話番号：</th>
            <td class ="">
              <%= @end_user.tel %>
            </td>
          </tr>
          <tr>
            <th class="">メールアドレス：</th>
            <td class = "">
              <%= @end_user.email %>
            </td>
          </tr>
      </table>
    </div>

    <div class="col-xs-12">

    </div>
</div>