
<div class="col-xs-12">
	<h2>No.<%= @admin.id %>の管理者情報編集</h2><hr>
	    <%= form_for @admin, url:admins_admin_path(@admin) do |f| %>
			<div class="col-xs-3">
			    <h4>会員ID</h4>
			</div>
			<div class="col-xs-9">
			    <h4><%= @admin.id %></h4>
			</div>
			<div class="col-xs-3">
			    <h4>メールアドレス</h4>
			</div>
			<div class="col-xs-9 field">
			    <%= f.email_field :email, class: 'form-control' %>
			</div>
			<div class="col-xs-3">
			</div>
			<div class="col-xs-9 field">
			    <%= f.submit "変更を保存する", class:"btn btn-primary"%>
		    </div>
	    <% end %>
	</div>
</div>