
<script src="https://js.pay.jp/v2/pay.js"></script>

<div class="col-xs-12">

	<%= render 'end_users/side_menu' %>

	<div class="col-xs-9">
	    <% if @card.errors.any? %>
	    	<h2><%= pluralize(@card.errors.count, "error") %> prohibited this obj from being saved: </h2>
	    	<% @card.errors.full_messages.each do |message| %>
	        	<li><%= message %></li>
	    	<% end %>
	    <% end %>
	    <% @card.errors.full_messages.each do |message| %>
	      <%= message %>
	    <% end %>

		<h2>新規クレジットカード</h2>※PayJPのテスト環境で実装しています。カード番号は<a href="https://pay.jp/docs/testcard">こちら</a>から<hr>


	    <%= form_for( @card, url: { controller: 'cards', action: 'card_check'}, html:{method:'get'} ) do |f| %>
		    <div class="col-xs-4">
		    	<%= f.label "カード番号" %>
		 	</div>
		    <div class="col-xs-8 field">
		   	  	<%= text_field_tag :card_number, "", class: "number form-control", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number" %>
		    </div>
		    <div class="col-xs-4">
		    	<div class="col-xs-6">
		    		<%= f.label "有効期限" %>
		    	</div>
		    	<div calss="col-xs-6">
		    		年/
		    	</div>
		    </div>
		    <div class="col-xs-8 field">
		    	<%= select_tag :card_exp_year, options_for_select([2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]), class: 'exp_year form-control' %>
		    </div>
		    <div class="col-xs-4">
		    	<div class="col-xs-6">
		    	</div>
		    	<div calss="col-xs-6">
		    		月/
		    	</div>
		    </div>
		    <div class="col-xs-8 field">
				<%= select_tag :card_exp_month, options_for_select(["01","02","03","04","05","06","07","08","09","10","11","12"]), class: 'exp_year form-control' %>
		    </div>
		    <div class="col-xs-4">
		    	<%= f.label "セキュリティコード" %>
		    </div>
		    <div class="col-xs-8 field">
		    	<%= text_field_tag :"card_cvc", "", class:"cvc form-control", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc" %>
		    </div>
		    <div class="col-xs-4">
		    </div>
		    <div class="col-xs-8 field">
				<%= f.submit "カード情報を確認", class: "btn btn-primary" %>
		    </div>
	    <%end %>
	</div>
</div>
