
	<div class="col-xs-12">
		<h2>掲示板一覧</h2>
		<!--BulletinBoards一覧 -->
		<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>Title</th>
					<th>投稿者</th>
					<th>コメント数</th>
					<th colspan="1"></th>
				</tr>
			</thead>

			<tbody>
				<% @boards.each do |board| %>
				<tr>
					<td><%= link_to board.title, bulletin_board_path(board) %></td>
					<td><%= board.name %></td>
					<td>コメント数：<%= board.bulletin_board_comments.count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<!--BulletinBoard一覧 -->
	</div>

    <% if @board.errors.any? %>
    	<p><%= @board.errors.count %> errors prohibited this book from being saved:</p>
    	<ul>
        	<% @board.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
          	<% end %>
        </ul>
    <% end %>

    <h3>新規投稿</h3>
	<%= form_for(@board) do |f| %>
		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :title %>
			</div>
			<%= f.text_field :title %>
		</div>

		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :name %>
			</div>
			<%= f.text_field :name %>
		</div>

		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :body %>
			</div>
			<%= f.text_area :body, class:"col-xs-6" %>
		</div>

		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :delete_password %>
			</div>
			<%= f.password_field :delete_password %>
		</div>

		<div class="filed row">
			<div class="col-xs-3">
			</div>
			<%= f.submit class: "btn btn-primary" %>
		</div>
	<% end %>
