
	<div class="logo">
		<div class="main1"></div>
	    <div class="main2"></div>
	</div>

	<div class="container padding_none">
		<div class="col-xs-12">
			<h2 class="">掲示板一覧</h2><hr>
			<!--BulletinBoards一覧 -->
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>投稿者</th>
						<th>コメント数</th>
					</tr>
				</thead>

				<tbody>
					<% @boards.each do |board| %>
					<tr>
						<td><%= link_to board.title, bulletin_board_path(board), data: {"turbolinks" => false} %></td>
						<td><%= board.name %></td>
						<td><%= board.bulletin_board_comments.count %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<!--BulletinBoard一覧 -->
		</div>

	    <% if @board.errors.any? %>
	    	<p><%= @board.errors.count %> errors prohibited this book from being saved:</p>
	    	<ul>
	        	<% @board.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	          	<% end %>
	        </ul>
	    <% end %>

		<div class="col-xs-12">
	    	<h3 class="page-header">新規投稿</h3>
			<%= form_for(@board) do |f| %>
				<div class="col-xs-3 padding_none">
					<%= f.label "タイトル" %>
				</div>
				<div class="col-xs-9 field">
					<%= f.text_field :title, class: 'form-control' %>
				</div>
				<div class="col-xs-3 padding_none">
					<%= f.label "投稿者名" %>
				</div>
				<div class="col-xs-9 field">
					<%= f.text_field :name, class: 'form-control col-xs-6 field' %>
				</div>
				<div class="col-xs-3 padding_none">
					<%= f.label "内容" %>
				</div>
				<div class="col-xs-9 field">
					<%= f.text_area :body, class: 'form-control col-xs-6 field' %>
				</div>
				<div class="col-xs-3 padding_none">
				</div>
				<div class="col-xs-9 field">
					<%= f.submit "新規作成", class: "btn btn-primary field" %>
				</div>
			<% end %>
		</div>
	</div>

	<script>
	   	//スライドショー
		$(document).on('turbolinks:load', function() {
			// オプションを指定してSkipprの実行
			$(".logo").skippr({
			    // スライドショーの変化（"fade" or "slide"）
			    transition : 'slide',
			    // 変化にかかる時間（ミリ秒）
			    speed : 1000,
			    // easingの種類
			    easing : 'easeOutQuart',
			    // ナビゲーションの形（"block" or "bubble"）
			    navType : 'block',
			    // 子要素の種類（"div" or "img"）
			    childrenElementType : 'div',
			    // ナビゲーション矢印の表示（trueで表示）
			    arrows : false,
			    // スライドショーの自動再生（falseで自動再生なし）
			    autoPlay : true,
			    // 自動再生時のスライド切替間隔（ミリ秒）
			    autoPlayDuration : 3000,
			    // キーボードの矢印キーによるスライド送りの設定（trueで有効）
			    keyboardOnAlways : false,
			    // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
			    hidePrevious : false
			});
		});
	</script>

    <script src="/assets/skippr.min.js"></script>
