
	<div class="col-xs-12">
		<h2>掲示板詳細</h2>

		<h3><%= @board.title %></h3>
		<p>1.投稿者：<%= @board.name %></p>
		<p><%= @board.body %></p><br>

		<% @comments.each do |comment| %>
			<p><%= comment.id + 1 %>.投稿者：<%= comment.name %></p>
			<p><%= comment.comment %></p><br>
		<% end %>
	</div>

    <% if @comment.errors.any? %>
    	<p><%= @comment.errors.count %> errors prohibited this book from being saved:</p>
    	<ul>
        	<% @comment.errors.full_messages.each do |message| %>
        		<li><%= message %></li>
          	<% end %>
        </ul>
    <% end %>

	<%= form_with model:([@board,@comment]) do |f| %>
		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :name %>
			</div>
			<%= f.text_area :name %>
		</div>

		<div class="field row">
			<div class="col-xs-3">
				<%= f.label :comment %>
			</div>
			<%= f.text_area :comment, class:"col-xs-6" %>
		</div>

		<div class="filed row">
			<div class="col-xs-3">
			</div>
			<%= f.submit class: "btn btn-primary" %>
		</div>
	<% end %>
