
	<div class="col-xs-12">
		<h2 class="page-header"><%= @board.title %></h2>

		<p>1.投稿者：<%= @board.name %></p>
		<p><%= @board.body %></p><br>

		<% @comments.each do |comment| %>
			<p><%= comment.id + 1 %>.投稿者：<%= comment.name %></p>
			<p><%= comment.comment %></p><br>
		<% end %>
	</div>

	<div class="col-xs-12">
		<h3 class="page-header">新規投稿</h3>
	    <% if @comment.errors.any? %>
	    	<p><%= @comment.errors.count %> errors prohibited this book from being saved:</p>
	    	<ul>
	        	<% @comment.errors.full_messages.each do |message| %>
	        		<li><%= message %></li>
	          	<% end %>
	        </ul>
	    <% end %>
		<%= form_with model:([@board,@comment]) do |f| %>
			<div class="col-xs-3">
				<%= f.label :name %>
			</div>
			<div class="col-xs-9 field">
				<%= f.text_field :name, class: 'form-control' %>
			</div>

			<div class="col-xs-3">
				<%= f.label :comment %>
			</div>
			<div class="col-xs-9 field">
				<%= f.text_area :comment, class: 'form-control' %>
			</div>

			<div class="col-xs-3">
			</div>
			<div class="col-xs-9 field">
				<%= f.submit class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>