
<div class="col-xs-12">
  <h1>お問い合わせ</h1><hr>
  <%= form_for @inquiry, url: { controller: 'inquiries', action: 'thanks'}, html:{method:'get'} do |f| %>
    <div class="col-xs-2">
      名前
    </div>
    <div class="col-xs-10 field">
      <%= f.hidden_field :name %>
      <%= @inquiry.name %>
    </div>
    <div class="col-xs-2">
      メールアドレス
    </div>
    <div class="col-xs-10 field">
      <%= f.hidden_field :email %>
      <%= @inquiry.email %>
    </div>
    <div class="col-xs-2">
      お問い合わせ内容
    </div>
    <div class="col-xs-10 field">
      <%= f.hidden_field :message %>
      <%= simple_format(@inquiry.message) %>
    </div>
    <div class="col-xs-2">
    </div>
    <div class="col-xs-10 field">
      <%= f.submit '送信', :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>