
    <table class="table">
        <tbody align="left">
            <tr>
                <% @products.each do |product| %>
                    <% if product.out_of_stock == false %>
                        <% if product.type.invalid_status == true %>
                            <% if @loop == 2 %>
                                    <td>
                                        <%= link_to((product), data: {"turbolinks" => false}) do %>
                                            <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "100x90" %><br>
                                        <% end %>
                                        <h5><%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %></h5>
                                        <h5>¥<%= ((product.price_excluding * @TAX).ceil).to_s(:delimited) %>(税込)</h5>
                                    </td>
                                </tr>
                                <tr>
                                <% @loop = 0 %>
                        <% else %>
                            <td>
                                <%= link_to((product), data: {"turbolinks" => false}) do %>

                                    <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "100x90" %><br>

                                <% end %>
                                <h5><%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %></h5>
                                <h5>¥<%= ((product.price_excluding * @TAX).ceil).to_s(:delimited) %>(税込)</h5>
                            </td>
                            <% @loop += 1 %>
                        <% end %>
                        <% else %>
                        <% end %>
                    <% else %>
                        <td>
                            <%= link_to((product), data: {"turbolinks" => false}) do %>

                                <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "90x90" %><br>

                            <% end %>
                            <%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %><br>
                            ¥<%= ((product.price_excluding * @TAX).ceil).to_s(:delimited) %>円
                        </td>
                        <% @loop += 1 %>
                    <% end %>
                <% end %>
            </tr>
        </tbody>
    </table>
