
    <div class="col-xs-12">
        <div class="col-xs-3">
            <!--  検索拡張機能  -->
            <h2>商品名検索</h2><hr>
            <%= form_tag(search_products_path, :method => 'get' ) do %>
                <%= text_field_tag :search %></br><br>
                <%= submit_tag 'Search' %>
            <% end %>
            <h2>種類検索</h2><hr>
            <% @types.each do |type| %>
                <li><%= link_to type.name , search_types_path(type), method: :get %></li><br>
            <% end %>
        </div>

        <div class="col-xs-9">
            <h2><%= @type %>商品全<%= @number %>件</h2>
            <%= paginate @products %>

            <table class="table table-striped table-inverse">
                <tbody align="left">
                    <tr>
                        <% @products.each do |product| %>
                            <% if product.out_of_stock == false %>
                                <% if product.type.invalid_status == true %>
                                    <% if @loop == 2 %>
                                            <td>
                                                <%= link_to((product), data: {"turbolinks" => false}) do %>
                                                    <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "200x200" %><br>
                                                <% end %>
                                                <h4><%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %></h4>
                                                <h4>¥<%= (product.price_excluding * @TAX).ceil %>(税込)</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                        <% @loop = 0 %>
                                <% else %>
                                    <td>
                                        <%= link_to((product), data: {"turbolinks" => false}) do %>

                                            <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "200x200" %><br>

                                        <% end %>
                                        <h4><%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %></h4>
                                        <h4>¥<%= (product.price_excluding * @TAX).ceil %>(税込)</h4>
                                    </td>
                                    <% @loop += 1 %>
                                <% end %>
                                <% else %>
                                <% end %>
                            <% else %>

                                <td>
                                    <%= link_to((product), data: {"turbolinks" => false}) do %>

                                        <%= attachment_image_tag product, :image, fallback: "no_image.jpg",size: "200x200" %><br>

                                    <% end %>
                                    <%= link_to product.name, product_path(product.id), data: {"turbolinks" => false} %><br>
                                    ¥<%= (product.price_excluding * @TAX).ceil %>円
                                </td>
                                <% @loop += 1 %>

                            <% end %>
                        <% end %>
                    </tr>
                </tbody>
            </table>
            <%= paginate @products %>
        </div>
    </div>
