<!DOCTYPE html>
<html>
  <head>
    <title>ECofsake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class= "col-xs-12 sp-menu">
          <div class= "col-xs-2 title">
            ECofsake
          </div>
          <div class= "col-xs-10" id="sp-menu">
            <ul class="nav navbar-nav menu">
                <li><%= link_to("注文一覧", admins_orders_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
                <li><%= link_to("管理者一覧", admins_admins_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
                <li><%= link_to("登録者一覧", admins_end_users_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
                <li><%= link_to("商品種類一覧", admins_types_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
                <li><%= link_to("商品一覧", admins_products_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
                <li><%= link_to("売上一覧", admins_earnings_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>                <li><%= link_to("ログアウト", root_path, class: "glyphicon glyphicon-home", data: {"turbolinks" => false}) %></li>
            </ul>
          </div>
          <div id="hm-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
      </div>
    </header>

    <div class="wrapper">
      <div class= "col-xs-12 welcom">
        <ul class="nav">
          <li><%= notice %></li>
        </ul>
      </div>
      <%= yield %>
      <div class="container">
      </div>
      <footer>
        <div class= "col-xs-12 copylight">
          <div class= "col-xs-6" align="left">
            お問い合わせ
          </div>
          <div class= "col-xs-6" align="right">
            &copy; ECofsake
          </div>
        </div>
      </footer>
    </div>
  </body>
  <span id="back">
    <a href="#!">
      <%= image_tag asset_path("arrow.png"),size: "50x50", class: "allow"%>
    </a>
  </span>
</html>
