<!DOCTYPE html>
<html>
  <head>
    <title>ECofsake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>

  <body>
    <header>
      <div class= "col-xs-12 sp-menu">
          <div class= "col-xs-2 title">
            ECofsake
          </div>
          <div class= "col-xs-10" id="sp-menu">
            <ul class="nav navbar-nav menu">
              <% if end_user_signed_in? %>
                <li><%= link_to("TOP", root_path, class: "glyphicon glyphicon-home", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("お酒の紹介", tops_introduction_path, class: "glyphicon glyphicon-glass", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("掲示板", bulletin_boards_path, class: "glyphicon glyphicon-comment", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("商品一覧", products_path, class: "glyphicon glyphicon-briefcase", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("マイページ", end_user_path(current_end_user.id), class: "glyphicon glyphicon-user", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("カート", end_user_carts_path(current_end_user.id), class: "glyphicon glyphicon-shopping-cart", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("ログアウト", destroy_end_user_session_path, method: :get ,class: "glyphicon glyphicon-log-out", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("開発者について", secret_producer_show_path, method: :get ,class: "glyphicon glyphicon-log-out", data: {"turbolinks" => false}) %></li>
              <% else %>
                <li> <%= link_to("TOP", root_path, class: "glyphicon glyphicon-home", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("お酒の紹介", tops_introduction_path, class: "glyphicon glyphicon-glass", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("掲示板", bulletin_boards_path, class: "glyphicon glyphicon-comment", data: {"turbolinks" => false}) %></li>
                <li><%= link_to("商品一覧", products_path, class: "glyphicon glyphicon-briefcase", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("新規登録", new_end_user_registration_path, class: "glyphicon glyphicon-edit", data: {"turbolinks" => false}) %></li>
                <li> <%= link_to("ログイン", new_end_user_session_path, class: "glyphicon glyphicon-log-in", data: {"turbolinks" => false}) %> </li>
                <li><%= link_to("開発者について", secret_producer_show_path, method: :get ,class: "glyphicon glyphicon-log-out", data: {"turbolinks" => false}) %></li>
              <% end %>
            </ul>
          </div>
          <div id="hm-icon">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
      </div>
    </header>


    <div class= 'wrapper'>
      <div class= "col-xs-12 welcom">
        <ul class="nav">
          <% if end_user_signed_in? %>
            <li>ようこそ！<%= current_end_user.family_name + " " + current_end_user.first_name%> さん</li>
          <% else %>
            <li>ようこそ！ ゲスト さん</li>
          <% end %>
          <li><%= notice %></li>
        </ul>
      </div>
      <%= yield %>
      <div class="container">
      </div>
      <footer>
          <div class= "col-xs-12 copylight">
            <div class= "col-xs-6" align="left">
              <%= link_to("お問い合わせ", inquiries_path, class: "glyphicon glyphicon-envelope inquiry", data: {"turbolinks" => false}) %>
            </div>
            <div class= "col-xs-6" align="right">
              &copy; ECofsake
            </div>
          </div>
      </footer>
    </div>
  </body>
  <span id="back">
    <a href="#!">
      <%= image_tag asset_path("arrow.png"),size: "40x40", class: "allow"%>
    </a>
  </span>
</html>
