
<!--
お疲れ様です。一生懸命コーディングしましたが、
わかりやすいコーディングっていうのが、ピンときてません。
色んなパターンでやってますので、よかったらこれがいいよ！
ってポイントを教えていただけますと幸いでございます。
※Rubocopはできませんでした。コード読んでいただきありがとうございます。

　　　 　/∧＿/∧ 　　　　　 /∧＿/∧　　　ｵﾛｵﾛ
　　　（(´´ДД｀｀;;)） 　　　((;;´´ДД｀｀)）　　　　ｵﾛｵﾛ
　　　//　　　 ＼＼　　　　 //　　　＼＼　ｵﾛｵﾛ
　 ⊂⊂((　　ヽﾉヽﾉつつ ⊂⊂ヽ//　)) つつ　　ｵﾛｵﾛ
　　　しし(（＿）)　　　　　　 (（＿）)ＪＪ

-->

<!DOCTYPE html>
<html>
  <head>
    <title>Producer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    <header>
      <div class= "col-xs-12 sp-menu">
        <div class= "col-xs-3 title padding_none">
          Introduction
        </div>
        <div class= "col-xs-9" id="sp-menu">
          <ul class="nav navbar-nav menu2">
            <li><%= link_to("about", secret_producer_show_path(anchor: 'about'), { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
            <li><%= link_to("Twitter", secret_producer_show_path(anchor: 'Twitter'), { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
            <li><%= link_to("Instagram", secret_producer_show_path(anchor: 'Instagram'), { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
            <li><%= link_to("ECofsake", root_path, { method: :get ,class: "glyphicon glyphicon-log-out"}) %></li>
          </ul>
        </div>
        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </header>

    <div class= 'wrapper welcom1'>
      <%= yield %>
      <div class="container">
      </div>
      <footer>
        <div class= "col-xs-12 copylight">
          <div class= "col-xs-6 padding_none" align="left">
            <%= link_to("お問い合わせ", inquiries_path, class: "glyphicon glyphicon-envelope inquiry", data: {"turbolinks" => false}) %>
          </div>
          <div class= "col-xs-6 padding_none" align="right">
            &copy; ECofsake
          </div>
        </div>
      </footer>
    </div>
  </body>
  <span id="back">
    <a href="#!">
      <%= image_tag asset_path("arrow.png"),size: "50x50", class: "allow"%>
    </a>
  </span>
</html>
